html, body, #page {
  width: 100%;
  height: 100%;
  margin: 0;
}

h3 {
  font-weight: normal;
  margin-bottom: 0px;
}

#page {
  font-family: 'Montserrat', serif;
}

.sidebar, .content {
  float: left;
  min-height: 100%;
}

.sidebar {
  width: 220px;
  padding: 25px 0px 0px 25px;
  background-color: #2d2d2d;
  color: #cccccc;
}

.sidebar .section {
  margin-bottom: 30px;
}

.sidebar .section hr {
  border-color: #cccccc;
}

.sidebar .section .item {
  display: inline-block;
  clear: both;
  width: 220px;
  margin: 5px 0px;
}

.sidebar .section .item a {
  color: #cccccc;
}

.sidebar .section .item img {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  float: left;
}

.sidebar .section .item-content {
  float: left;
  padding-left: 8px;
}

.sidebar .section h4 {
  font-size: 10pt;
  margin: 0px 0px 3px 0px;
}

.sidebar .section span {
  display: block;
  font-size: 8pt;
  color: #8c8c8c;
}

.photo {
  width: 140px;
  height: 140px;
  margin-left: 22px;
  border: 2px solid #cccccc;
  border-radius: 70px;
  background: url('../img/photo.jpg') no-repeat center;
}

.content {
  padding: 20px 20px 20px 40px;
  color: #333333;
}

.content .header {
  margin-bottom: 64px;
}

.content .header h1 {
  margin-bottom: 0px;
  font-size: 32pt;
}

.content .header span {
  margin-bottom: 0px;
  font-size: 14pt;
}

.content .section hr {
  margin-bottom: 5px;
  border-color: #6d6d6d;
}

.content .section-header img {
  float: left;
  height: 32px;
  margin-right: 15px;
}

.content .section-header h3 {
  display: inline-block;
  margin-top: 5px;
}

.content .section-header div {
  margin-left: 47px;
}

.content .item {
  display: block;
  float: left;
  clear: both;
  padding-bottom: 10px;
  background: url('../img/time_line_pattern.png') repeat-y 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}

.content .item:first-child {
  padding-top: 10px;
}

.content .item .timespot {
  width: 140px;
  padding: 2px 0px 10px 48px;
  float: left;
  background: url(../img/timespot_bullet.png) no-repeat 7px 0px;
  background-size: 20px;
}

.content .item:last-child {
  background: #ffffff;
}

.content .item .info {
  max-width: 500px;
  float: left;
  padding-left: 10px;
  padding-top: 2px;
}

.content .item .info span {
  display: block;
  text-align: justify;
}

.content .item .info .company {
  font-weight: bold;
}

.content .item .info .position {
  padding-bottom: 5px;
  font-style: italic;
}

@media (max-width: 600px) {
  #info {
    width: 100%;
    height: auto;
  }
}
